[submodule "themes/pelican-bootstrap3"]
	path = themes/pelican-bootstrap3
	url = git@github.com:timstaley/pelican-bootstrap3.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
